<div class="container-fluid logo-box">
  <div class="lb">
  	<p class="logo">Who is V.E.T.</p>
  </div>
  <div><p class="">Come discover Radio Devicion Today and see what's in store for you.</p>
  </div>
</div>
