<div class="container-fluid index_bgcolor">
	<h1 class="index_header">Welcome to V.E.T.</h1>
</div>
<div class="container-fluid banner_container">
	<%= image_tag "American_flag-1.jpeg", class: "banner" %>
</div>
