<div class="container-fluid">
	<div class="row mid_grid">
    <div class="col-8">
			<h1 class="radiohead">Welcome to V.E.T. Radio</h1>
	  </div>
	<div class="col-4">
		<%= image_tag 'vetlogo.png', alt: "vet logo" %>
	</div>
</div>