/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
  @import "bootstrap"

.index_bgcolor{
background: -webkit-linear-gradient(left, #6db3f2 0%,#3690f0 23%,#1e69de 49%,#1e69de 49%,#54a3ee 80%,#54a3ee 80%); /* Chrome10-25,Safari5.1-6 */
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(left, #6db3f2 0%, #3690f0 23%, #1e69de 49%, #1e69de 49%, #54a3ee 80%, #54a3ee 80%); /* FF3.6-15 */
background: linear-gradient(to right, #6db3f2 0%,#3690f0 23%,#1e69de 49%,#1e69de 49%,#54a3ee 80%,#54a3ee 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#54a3ee',GradientType=1 ); /* IE6-9 */
}
