.index_bgcolor{
 background-color:#e1eff5;
 font-family: 'Raleway', sans-serif;
 text-align: center;
}
.index_header{
	margin: 0rem;
	font-size: 5em;
}

#carousel{
	height: 70;
}
.carousel-inner{
	width: 100;
}
.banner_container{
	padding-left: 0px;
	padding-right: 0px;
	height: 50%;
}
.banner{

}


.mid_grid{
	text-align: center;
}
.box1{
	border: 2px;
}
.col_style{
	text-align: center;
	padding: 5em;
}
.col_head{
	 font-family: 'Raleway', sans-serif;
}
.col_para{
	padding: .5em;
	line-height: 2.5em;

}
.parallax_filter{
	width: 100%;
}