.index_bgcolor{
 background-color:#e1eff5;
 font-family: 'Raleway', sans-serif;
 text-align: center;
}
.index_header{
	margin: 0rem;
}
.banner_container{
	padding-left: 0;
	padding-right: 0;
	height: 50%;
}
.banner{
	width: 100%;
	background-size: cover;
}